* {
	box-sizing: border-box;
}

:root {
	--main-back-color: rgb(238, 233, 229);
}

/**::after {
	content: "";
	clear: both;
	display: table;
}*/

body {
	font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde", "URW Gothic L", helvetica, sans-serif;
	text-align: center;
	margin: 0px;
	background-image: url("images/background/connectworkblue2.png");
	background-attachment: fixed;
}

/*-----------header style-----------*/

header {
	color: white;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: -1;
}

header h1 {
	position: relative;
}

header h1::before {
	content: '';
	display: block;
	position: absolute;
	right: 60%;
	left: -30%;
	top: 25%;
	bottom: 25%;
	z-index: -1;
	background-image: linear-gradient(to right, rgba(27, 128, 213, 1), rgba(27, 128, 213, 0));
}

header h1::after {
	content: '';
	display: block;
	position: absolute;
	right: -30%;
	left: 60%;
	top: 25%;
	bottom: 25%;
	z-index: -1;
	background-image: linear-gradient(to right, rgba(27, 128, 213, 0), rgba(27, 128, 213, 1));
}

header h2 {
	font-weight: normal;
	background-color: rgb(238, 233, 229);
	padding: 4px 0px;
	margin: 15px auto;
	width: 40%;
	max-width: 500px;
	border-radius: 10px;
	color: dodgerblue;
	color: rgb(62, 138, 202);
	color: rgb(27, 128, 213);
	box-shadow: 0px 0px 30px 5px black;
}

div.profiles {
	margin-bottom: 40px;
}

div.portrait {
	display: inline-block;
	background-color: rgb(238, 233, 229);
	margin: 5px 10px;
	padding: 10px;
	border-radius: 300px;
	box-shadow: 0px 0px 30px 5px black;
}

div.portrait img {
	max-width: 150px;
	width: 100%;
	border-radius: 100%;
	/*border-width: 4px;
	border-color: rgb(100, 100, 100);
	border-style: solid;*/
	/*padding: 10px;*/
	/*margin: 8px;*/
}

div.nametag {
	margin: 10px 0px 20px 0px;
}

div.nametag p {
	margin: 0px;
	color: black;
	font-weight: bold;
}


/*-----------page content style-----------*/


div.content {
	margin-top: 450px; 
	background-color: rgb(238, 233, 229)/*rgb(239, 242, 244)*/;
	padding-bottom: 10px;
	box-shadow: 0px -10px 10px 10px rgb(238, 233, 229);
	box-shadow: 0px -10px 30px 10px black;
}


div.section {
	width: 80%;
	padding: 20px 5%;
	margin: 30px auto;
	text-align: left;
}


/*div.section h2 {
	width: 80%;
	margin: 0px;
	text-align: center;
	background-image: url("images/background/connectworkblue2.png");
	background-attachment: fixed;
	color: rgb(238, 233, 229);
	border-radius: 100px;
	padding: 5px;
	margin: 0px auto;
	position: relative;
}

div.section h2::after { 
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    border-radius: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: dodgerblue;
	border-color: rgb(62, 138, 202);
	border-color: rgb(27, 128, 213);
}*/



div.section h2 {
	width: 80%;
	margin: 0px;
	text-align: center;
	color: rgb(50, 50, 50);;
	padding: 5px;
	margin: 0px auto;
	position: relative;
}

div.section h2::before { 
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    bottom: -5px;
    left: 20%;
    right: 20%;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
	border-color: rgb(27, 128, 213);
}

div.linksList {
	width: 80%;
	margin: 25px auto 10px auto;
	padding: 0px;
}

div.link {
	/*padding-left: 10%;*/
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: rgb(190, 190, 190);
}

div.link:nth-child(1) {
	border-width: 2px 0px;
}

div.linkHead {
	padding-left: 10%;
}

div.linkHead h3 {
	height: 40px;
	color: black;
	text-decoration: none;
	font-weight: normal;
	font-size: 18px;
	padding: 7px 0px;
	margin: 0px;
	display: inline-block;
	width: 80%;
	cursor: pointer;
	/*padding-left: 10%;*/
	-webkit-transition: padding-left ease 200ms;
	transition: padding-left ease 200ms;
}

div.linkHead h3:hover {
	color: rgb(27, 128, 213);
	padding-left: 25px;
	font-weight: bold;
}

div.preview {
	width: 95%;
	max-height: 0px;
	margin: 0px auto;
	overflow: hidden;
	opacity: 0;
	transition: all ease 500ms;
}

div.visiblePreview {
	max-height: 800px;
	margin: 15px auto;
	opacity: 1;
}

div.preview iframe {
	border: none;
	width: 100%;
	height: 700px;
}

.btnFull {
	color: rgb(27, 128, 213);
	font-weight: bold;
	width: 80px;
	height: 30px;
	position: relative;
	background-color: transparent;
	overflow: hidden;
	border: solid rgb(27, 128, 213) 2px;
	border-radius: 50px;
	z-index: 10;
	font-size: 1em;
	transform: translate(10vw, 5px);
	opacity: 0;
	display: none;
	cursor: pointer;
	transition: all ease 500ms;
}

.btnFullVisible {
	display: inline-block;
	opacity: 1;
	transform: translate(0vw, 5px);
}


.btnFull:hover {
	color: white;
}

.btnFull::before {
	content: '';
	display: block;
	position: absolute;
	background-color: rgb(27, 128, 213);
	left: 50%;
	right: 50%;
	top: 50%;
	bottom: 50%;
	z-index: -1;
	border-radius: 100%;
	transition: all ease 500ms;
}

.btnFull:hover::before {
	left: 0%;
	right: 0%;
	top: -100%;
	bottom: -100%;
}




@media only screen and (max-width: 600px) {
	/*header {
		width: 100%;
	}*/

	header h2 {
		width: 90%;
	}

	div.profiles {
		width: 100%;
	}

	div.portrait {
		width: 30%;
		margin-left: auto;
		margin-right: auto;
	}

	div.portrait img {
		width: 100%;
		/*height: 80px;*/
	}

	div.section {
		width: 100%;
	}

	div.section h2 {
		width: 100%;
	}

	div.linksList {
		width: 100%;
	}
}