@font-face {
	font-family: 'Montserrat';
	src: url(Montserrat/Montserrat-Medium.ttf);
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	scrollbar-width: thin;
	scrollbar-color: white transparent;
}

*::-webkit-scrollbar {
	width: 6px;
}
*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: white;
}
*::-webkit-scrollbar-track {
	background-color: transparent;
}

body {
	background: #e3e3e3;
}

div.screen {
	margin: auto; 
	position: relative;
	margin-top: 30vh;
	width: 400px;
	height: 215px;
	background: black;
	border-radius: 20px;
}

div.outerBtn {
	position: absolute;
	bottom: 100%;
	left: 65%;
	width: 40px;
	height: 8px;
	background: black;
	border-radius: 8px 8px  0px 0px;
}

#btnL {
	left: 65%;
}

#btnR {
	left: 80%;
}

div.page {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	color: white;
	background: #111e38;
    text-align: center;
    border-radius: 20px;
	overflow: hidden;
	opacity: 1;
	transition: opacity ease 500ms;
}

div.lockscreen {
    background: linear-gradient(to left, #47748d 0%, #111e38 40%);
}

div.lockscreen div.clock {
	position: absolute;
	left: 50px;
	top: 50%;
    transform: translateY(-50%);
}

div.clock .time {
	font-size: 4em;
}

div.clock .date {
	font-size: 1.2em;
}

div.fingerprint {
	width: 30%;
	position: absolute;
	right: 10px;
	top: 50%;
    transform: translateY(-40%);
    cursor: pointer;
}

div.main {
    background: linear-gradient(to top, #47748d 40%, #111e38 80%);
}

div.main div.clock {
	margin-top: 10px;
}

div.main div.clock .time {
	font-size: 2.2em;
}

div.main div.clock .date {
	font-size: 1em;
}

div.appSlider {
	margin-top: 25px;
	padding-top: 1px;
}

div.appIcon {
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 20px;
	margin: 0px 10px;
	border-radius: 100%;
	background: white;
	cursor: pointer;
}

div.appIcon img {
	width: 100%;
}


div.shareApp {
	background: linear-gradient(to right, #47748d 70%, #111e38 90%);
}


div.content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 82%;
	padding: 0px 10px;
	margin-left: 5px;
	display: grid;
  	grid-gap: 15px;
  	grid-template-columns: auto auto;
	overflow-y: auto;
	direction: rtl;
}

div.col {
	direction: ltr;
	width: 100%;

}

div.postPreview {
	/*width: 100%;*/
	/*height: 80px;*/
	position: relative;
	margin: 15px 0px;
	border-radius: 15px;
	background: white;
	overflow: hidden;
	box-shadow: 0px 0px 6px 0px black;

	cursor: pointer;
	/*border: solid 3px white;*/
}

div.postPreview div.header {
	/*position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;*/
	padding: 3px;
	background: white;
	/*border-radius: 20px;*/
	overflow: auto;

}

div.postPreview div.header img {
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 100%;
}

div.postPreview div.header p {
	position: absolute;
	left: 35px;
	top: 8px;
	color: black;
	font-size: 0.8em;
}

div.postPreview img {
	display: block;
	width: 100%;
}

div.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 18%;
	/*border: solid 2px white;*/
}

div.sidebar .time {
	font-size: 1.2em;
	margin: 5px 0px;
}

div.button {
	width: 45px;
	height: 45px;
	margin: 5px auto;
	border-radius: 100%;
	padding: 8px;
	background: white;
	cursor: pointer;
}


div.button img {
	width: 100%;
}

div.btnFriends  {
	margin-top: 70px;
}

div.btnAddPost {
	margin-top: 15px;
}

div.btnCancel {
	margin-top: 130px;
}


div.btnZoomOut {
	padding: 0px;
	background: transparent;
	margin-top: 5px;
}

div.btnZoomIn {
	padding: 0px;
	background: transparent;
	margin-top: 30px;
}

div.btnZoomOut img{
	width: 80%;
}
 
div.btnZoomIn img{
	width: 80%;
}

div.btnMenu {
	margin-top: 5px;
}

div.hidden {
	opacity: 0;
	visibility: hidden;
}